<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">
                    <i class="bi-back"></i>
                    <span>Bearlingo</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Thông tin</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Hỗ trợ</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Hướng dẫn sử dụng</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Điều Khoản</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Quyền riêng tư</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Về chúng tôi</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        Giới thiệu
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">
                        Liên hệ
                    </a>
                </p>
            </div>

        </div>
    </div>
</footer>
