<nav class="navbar navbar-expand-lg" style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%)">
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
            <i class="bi-back"></i>
            <span>Bearlingo</span>
        </a>

        <div class="d-lg-none ms-auto me-4">
            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" asp-action="Index" asp-controller="Home">Trang chủ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Exam" asp-action="Exam">Đề thi</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Grammar" asp-action="Grammar">Ngữ Pháp</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Vocabulary" asp-action="Vocabulary">Từ Vựng</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Tip" asp-action="getTips">Tips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Blog" asp-action="getBlogs">Blog</a>
                </li>

                <li class="nav-item @(Context.Session.GetString("User") != null ? "dropdown" : "")">
                    @if (Context.Session.GetString("User") != null)
                    {
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">@Context.Session.GetString("UserName")</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" asp-action="userProfile" asp-controller="Home">User Profile</a></li>
                            <li><a class="dropdown-item" href="#">My Test</a></li>
                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Logout">Logout</a></li>
                        </ul>
                    }
                    else
                    {
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index" id="navbarLightDropdownMenuLink">Đăng nhập</a>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>