@{
    Layout = "~/Views/Shared/_AdminBearlingoLayout.cshtml";
}
<script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Danh sách Ngữ Pháp</li>
        <li class="breadcrumb-item"><a href="#">Thêm Ngữ Pháp</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Tạo mới Ngữ Pháp</h3>
            <div class="row element-button">
                <div class="col-sm-2">
                    <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fas fa-folder-plus"></i> Thêm Chủ Đề Ngữ Pháp
                    </a>
                </div>
            </div>
            <div class="tile-body">
                <form class="row" asp-action="AddNguPhap" asp-controller="Grammar" method="post">
                    <div class="form-group col-md-4">
                        <label class="control-label">Tiêu đề</label>
                        <input class="form-control" type="text" name="tieuDe" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Cách dùng</label>
                        <textarea class="form-control" name="cachDung" id="cachdung" required></textarea>
                        <script>CKEDITOR.replace('cachdung');</script>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Cấu trúc</label>
                        <textarea class="form-control" name="cauTruc" id="cautruc" required></textarea>
                        <script>CKEDITOR.replace('cautruc');</script>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Bổ sung</label>
                        <textarea class="form-control" name="boSung" id="bosung" required></textarea>
                        <script>CKEDITOR.replace('bosung');</script>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Lưu ý</label>
                        <textarea class="form-control" name="luuY" id="luuy" required></textarea>
                        <script>CKEDITOR.replace('luuy');</script>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Chủ đề ngữ pháp</label>
                        <select class="form-control" id="exampleSelect3" name="idChuDe">
                            @foreach (var item in ViewBag.listNP)
                            {
                                <option value="@item.IdchuDeNguPhap">@item.TenNguPhap</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Ví dụ</label>
                        <textarea class="form-control" name="viDu" id="vidu" required></textarea>
                        <script>CKEDITOR.replace('vidu');</script>
                    </div>
                    <button class="btn btn-save" type="submit">Lưu lại</button>
                    <a class="btn btn-cancel" asp-action="getNguPhaps" asp-controller="Dashboard">Hủy bỏ</a>
                </form>
            </div>

        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <form asp-action="AddChuDe" asp-controller="Grammar" method="post">
                            <div class="row">
                                <div class="form-group  col-md-12">
                                    <span class="thong-tin-thanh-toan">
                                        <h5>Tạo Chủ Đề Ngữ Pháp</h5>
                                    </span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">Nhập tên Chủ Đề</label>
                                    <input class="form-control" name="tenNguPhap" type="text" required>
                                </div>
                            </div>
                            <BR>
                            <button class="btn btn-save" type="submit">Lưu lại</button>
                            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                            <BR>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <script>
            const inpFile = document.getElementById("inpFile");
            const loadFile = document.getElementById("loadFile");
            const previewContainer = document.getElementById("imagePreview");
            const previewContainer = document.getElementById("imagePreview");
            const previewImage = previewContainer.querySelector(".image-preview__image");
            const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");
            inpFile.addEventListener("change", function () {
                const file = this.files[0];
                if (file) {
                    const reader = new FileReader();
                    previewDefaultText.style.display = "none";
                    previewImage.style.display = "block";
                    reader.addEventListener("load", function () {
                        previewImage.setAttribute("src", this.result);
                    });
                    reader.readAsDataURL(file);
                }
            });

        </script>
    </div>
</div>