@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/changePass.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <form asp-controller="ForgotPassword" asp-action="ChangePassword">
        <div class="container">
            <h1>Tạo mật khẩu mới</h1>

            <div class="new-password">
                <h3>New Password</h3>
                <div class="password-input">
                    <input type="password" class="new-password-input" placeholder="Create Password" onchange="checkPasswordValid()" required>
                    <i class="fas fa-eye" onClick="passToggle(this)"></i>
                    <i class="fas fa-eye-slash" onClick="passToggle(this)"></i>
                </div>
                <p class="passwordError" style="color:red"></p>
            </div>

            <div class="confirm-password">
                <h3>Confirm Password</h3>
                <div class="password-input">
                    <input type="password" class="confirm-password-input" name="newPass" onchange="checkPassMatch()" placeholder="Confirm Password" required>
                    <i class="fas fa-eye" onClick="passToggle(this)"></i>
                    <i class="fas fa-eye-slash" onClick="passToggle(this)"></i>
                </div>
            </div>
            <input type="hidden" id="canSubmit" value="true"/>
            <p class="message"></p>
            <button id="reset-button" class="reset-button" onclick="return checkSubmit()">RESET</button>
        </div>

    </form>
</body>
<script src="~/js/changePass.js"></script>
</html>
