<!DOCTYPE html>
<html>
@{
    Layout = null;
}
<head>
    <title>Bearlingo</title>
    <link rel="icon" href="images/300775178_401970438737681_809766260095184123_n (1).png">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
    <meta id="analytics-keys" name="analytics" data-analytics="{}" />
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.filestackcontent.com/1y1ZaT6XS6aU1UOdqqkz" />
    <script src="//fast.wistia.com/assets/external/E-v1.js"></script>
    <script src="https://www.recaptcha.net/recaptcha/api.js?render=6Le9jOUUAAAAAMKU_R7rTbi4JFAi6FXIhG5aBRHx"></script>
    <meta id="iris-url" data-iris-url="https://eventable.teachable.cloud" />


    <script type="text/javascript">
        const heapInstanceId = '318805607'
        window.heap = window.heap || [], heap.load = function (e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = document.createElement("script");
            r.type = "text/javascript", r.async = !0, r.src = "https://cdn.heapanalytics.com/js/heap-" + e + ".js";
            var a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(r, a);
            for (var n = function (e) {
                return function () {
                    heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], o = 0; o < p.length; o++) heap[p[o]] = n(p[o])
        }, heap.load(heapInstanceId);
    </script>


    <script src="https://fedora.teachablecdn.com/packs/identity--3075c60b82b2640be425.js"></script>
    <link rel="stylesheet" media="all" href="https://fedora.teachablecdn.com/packs/identity-4e8240f9a15e86448404.css" />

    <link rel="stylesheet" media="all" href="https://themes2.teachablecdn.com/themecss/production/base.css?_=13252c992825&amp;brand_course_heading=%23393B54&amp;brand_heading=%23010101&amp;brand_homepage_heading=%23393B54&amp;brand_navbar_fixed_text=%23FFFFFF&amp;brand_navbar_text=%23FFFFFF&amp;brand_primary=%23010101&amp;brand_secondary=%23635EF6&amp;brand_text=%23010101&amp;font=OpenSans&amp;logged_out_homepage_background_image_overlay=0.0&amp;show_login=true&amp;show_signup=false" />
    <style type="text/css">
        :root {
            --brand_primary: #010101;
            --brand_secondary: #389081;
            --brand_heading: #010101;
            --brand_text: #010101;
            --brand_navbar_text: #FFFFFF;
            --brand_navbar_fixed_text: #FFFFFF;
            --brand_homepage_heading: #393B54;
            --brand_course_heading: #393B54;
            --brand_video_player_color: #393B54;
            --font_family: OpenSans;
        }
    </style>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="2ecGxmTd4R9OKlP7DObD5oiVS4ON4yw8kwQPXI4O2BNRc1qRMqHlCoTRhW+HF1yDZqUF3bwb5/vTVd0zO8AI0w==" />

</head>

<body class="dsp-flex-xs flex-direction-column identity-layout">
    <header class="dsp-flex-xs flex-justify-content-center-xs navbar-fedora">
        <a class="btstrp-navbar-brand header-logo" href="/">
            <img src="/images/300775178_401970438737681_809766260095184123_n (1).png" alt="" srcset="" />
        </a>
    </header>
    <main class="p-v-7-m">
        <div class="container m-auto-xs col-4-l col-5-m col-10-xs p-v-5-xs p-h-7-xs">
            <h3 class="heading4 text-left-xs m-b-1-xs">Reset Password</h3>
            <p class="bodySmall m-t-1-xs m-b-3-xs">Reset your password by providing your account email below.</p>
            <form class="recaptcha-protected password-form" asp-controller="ForgotPassword" asp-action="ForgotPassword" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="H/tHbTt2pC6XjHfjJu/5jmUOQcGzjstWu7hkMbLl2aKXbxs6bQqgO113oXetHmbriz4Pn4J2AJH76bZeBysJYg==" />
                <div class="m-b-3-xs">
                    <label class="form-label bodyMain p-b-0-xs m-b-2-xs" for="email">Email</label>
                    <input type="email" name="email" id="email" required="required" autofocus="autofocus" autocomplete="email" class="form-input p-v-1-xs p-l-2-xs p-r-4-xs col-12-xs bodyMain" />
                    @if (!string.IsNullOrEmpty(ViewBag.messageError))
                    {
                        <div style="color:red">@ViewBag.messageError</div>
                    }
                </div>
                <div class="m-b-3-xs dsp-flex-xs flex-justify-content-left-xs">
                    <input type="submit" name="commit" value="Next" class="btn-primary button p-v-2-xs p-h-5-xs m-v-3-xs col-5-xs" data-testid="login-button" data-disable-with="Next" />
                </div>
                <div class="g-recaptcha-v3" data-action="forgot_password_v2" data-sitekey-v3="6Le9jOUUAAAAAMKU_R7rTbi4JFAi6FXIhG5aBRHx"></div>
            </form>
        </div>
    </main>
    <script>
        window.addEventListener("load", () => {
            window.userAuthControllers.identity.initialize();
        })
    </script>
</body>

</html>