<!doctype html>
<html lang="en">
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">


    <title>Bearlingo</title>

    <link rel="icon" href="images/300775178_401970438737681_809766260095184123_n (1).png">

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
          rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/templatemo-topic-listing.css" rel="stylesheet">
    <!--

    TemplateMo 590 topic listing

    https://templatemo.com/tm-590-topic-listing

    -->
</head>

<body id="top">

    <main>
        @Html.Partial("Navbar")
        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">Chinh Phục Mục Tiêu</h1>

                        <h6 class="text-center">Nền Tảng Tiếng Anh Vững Chắc</h6>

                        <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text bi-search" id="basic-addon1">

                                </span>

                                <input name="keyword" type="search" class="form-control" id="keyword" placeholder=""
                                       aria-label="Search">

                                <button type="submit" class="form-control">Search</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>


        <section class="featured-section">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block bg-white shadow-lg">
                            <a href="topics-detail.html">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="mb-2">Bearlingo</h5>

                                        <p class="mb-0"></p>
                                    </div>
                                </div>

                                <img src="images/topics/300775178_401970438737681_809766260095184123_n.ico"
                                     class="custom-block-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="custom-block custom-block-overlay">
                            <div class="d-flex flex-column h-100">
                                <img src="images/26173280_308860186290037_4848464504445515338_o.png"
                                     class="custom-block-image img-fluid" alt="">

                                <div class="custom-block-overlay-text d-flex">
                                    <div>
                                        <h5 class="text-white mb-2">Chào Mừng Đến Với Bearlingo</h5>

                                        <p class="text-white">Chinh phục mục tiêu TOEIC</p>

                                        <a style=" position: absolute;
                                        left: 100px;
                                        top: 270px;" href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">
                                            Khám
                                            Phá
                                        </a>
                                    </div>
                                </div>

                                <div class="social-share d-flex">
                                    <p class="text-white me-4">Share:</p>

                                    <ul class="social-icon">
                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-twitter"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-instagram"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-facebook"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-pinterest"></a>
                                        </li>
                                    </ul>

                                    <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                </div>

                                <div class="section-overlay"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="explore-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="mb-4">Đề Thi</h2>
                    </div>

                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="design-tab" data-bs-toggle="tab"
                                    data-bs-target="#ets2018" type="button" role="tab"
                                    aria-controls="design-tab-pane" aria-selected="true">
                                ETS 2018
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="marketing-tab" data-bs-toggle="tab"
                                    data-bs-target="#ets2019" type="button" role="tab"
                                    aria-controls="marketing-tab-pane" aria-selected="false">
                                ETS 2019
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="marketing-tab" data-bs-toggle="tab"
                                    data-bs-target="#ets2020" type="button" role="tab"
                                    aria-controls="marketing-tab-pane" aria-selected="false">
                                ETS 2020
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="music-tab" data-bs-toggle="tab"
                                    data-bs-target="#ets2021" type="button" role="tab" aria-controls="music-tab-pane"
                                    aria-selected="false">
                                ETS 2021
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="marketing-tab" data-bs-toggle="tab"
                                    data-bs-target="#ets2022" type="button" role="tab"
                                    aria-controls="marketing-tab-pane" aria-selected="false">
                                ETS 2022
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="ets2018" role="tabpanel"
                                 aria-labelledby="design-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-0">ETS 2018 TEST 1</h5>
                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2018</h5>
                                                            <h5 class="mb-2"> &#128100; 377655 </h5>
                                                            <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                            <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                            <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Remote_design_team_re_urdx.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS 2018 TEST 2</h5>

                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2018</h5>
                                                            <h5 class="mb-2"> &#128100; 377655 </h5>
                                                            <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                            <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                            <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Redesign_feedback_re_jvm0.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS 2018 TEST 3</h5>
                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2018</h5>
                                                            <h5 class="mb-2"> &#128100; 377655 </h5>
                                                            <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                            <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                            <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>
                                                <img src="" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="ets2019" role="tabpanel"
                                 aria-labelledby="marketing-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2019 TEST 1</h5>
                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2019</h5>
                                                            <h5 class="mb-2"> &#128100; 377655 </h5>
                                                            <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                            <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                            <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_online_ad_re_ol62.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2019 TEST 2</h5>

                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2019</h5>
                                                            <h5 class="mb-2"> &#128100; 377655 </h5>
                                                            <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                            <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                            <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Group_video_re_btu7.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2019 TEST 3</h5>

                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2019</h5>
                                                            <h5 class="mb-2"> &#128100; 377655 </h5>
                                                            <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                            <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                            <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_viral_tweet_gndb.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ets2020" role="tabpanel"
                                 aria-labelledby="marketing-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2020 TEST 1</h5>
                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2020
                                                        </h5>
                                                        <h5 class="mb-2"> &#128100; 377655 </h5>
                                                        <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                        <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                        <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_online_ad_re_ol62.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2020 TEST 2</h5>

                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2020
                                                        </h5>
                                                        <h5 class="mb-2"> &#128100; 377655 </h5>
                                                        <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                        <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                        <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Group_video_re_btu7.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2020 TEST 3</h5>

                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2020
                                                        </h5>
                                                        <h5 class="mb-2"> &#128100; 377655 </h5>
                                                        <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                        <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                        <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_viral_tweet_gndb.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="ets2021" role="tabpanel" aria-labelledby="music-tab"
                                 tabindex="0">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2021 TEST 1</h5>
                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2021</h5>
                                                            <h5 class="mb-2"> &#128100; 377655 </h5>
                                                            <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                            <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                            <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Compose_music_re_wpiw.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2021 TEST 2</h5>
                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2021</h5>
                                                            <h5 class="mb-2"> &#128100; 377655 </h5>
                                                            <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                            <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                            <h5 class="mb-5">❓200 câu hỏi</h5>

                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_happy_music_g6wc.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2021 TEST 3</h5>

                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2021</h5>
                                                            <h5 class="mb-2"> &#128100; 377655 </h5>
                                                            <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                            <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                            <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Podcast_audience_re_4i5q.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ets2022" role="tabpanel" aria-labelledby="music-tab"
                                 tabindex="0">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2022 TEST 1</h5>
                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2022
                                                        </h5>
                                                        <h5 class="mb-2"> &#128100; 377655 </h5>
                                                        <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                        <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                        <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Compose_music_re_wpiw.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2022 TEST 2</h5>
                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2022
                                                        </h5>
                                                        <h5 class="mb-2"> &#128100; 377655 </h5>
                                                        <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                        <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                        <h5 class="mb-5">❓200 câu hỏi</h5>

                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_happy_music_g6wc.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">ETS TOEIC 2022 TEST 3</h5>

                                                        <h5 class="mb-1">
                                                            📄 Bộ đề thi: ETS TOEIC 2022
                                                        </h5>
                                                        <h5 class="mb-2"> &#128100; 377655 </h5>
                                                        <h5 class="mb-3"> &#128172; 7 phần thi </h5>
                                                        <h5 class="mb-4"> &#128340; 120 phút </h5>
                                                        <h5 class="mb-5">❓200 câu hỏi</h5>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Podcast_audience_re_4i5q.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="education-tab-pane" role="tabpanel"
                                 aria-labelledby="education-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Graduation</h5>

                                                        <p class="mb-0">
                                                            Lorem Ipsum dolor sit amet
                                                            consectetur
                                                        </p>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Graduation_re_gthn.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Educator</h5>

                                                        <p class="mb-0">
                                                            Lorem Ipsum dolor sit amet
                                                            consectetur
                                                        </p>
                                                    </div>
                                                </div>

                                                <img src="images/topics/undraw_Educator_re_ju47.png"
                                                     class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
        </section>


        <section class="timeline-section section-padding" id="section_3">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="text-white mb-4">Ngữ Pháp</h2>
                    </div>

                    <div class="col-lg-10 col-6 mx-auto">
                        <div class="timeline-container">
                            <!-- <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline"> -->
                            <div class="list-progress">
                                <div class="inner"></div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i>
                                                Nouns - Danh từ
                                            </a>
                                        </p>

                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i>
                                                Pronouns - Đại Từ
                                            </a>
                                        </p>


                                        <p class="text-white ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> Pronouns -
                                                Adjectives - Tính từ
                                            </a>
                                        </p>


                                        <p class="text-white ">
                                            <a class="nav-link" href="#">
                                                <i class="fas fa-paw"></i> Pronouns -
                                                Adverbs
                                                - Trạng từ
                                            </a>
                                        </p>

                                        <p class="text-white ">
                                            <i class="fas fa-paw"></i> Comparison of Adj & Adv - So sánh tính từ
                                            và trạng
                                            từ
                                        </p>
                                        <p class="text-white ">
                                            <i class="fas fa-paw"></i> Comparison of Adj & Adv - So sánh tính từ
                                            và trạng
                                            từ
                                        </p>

                                        <p class="text-white ">
                                            <i class="fas fa-paw"></i> Verbs - Động từ
                                        </p>

                                        <p class="text-white ">
                                            <i class="fas fa-paw"></i> Phrasal Verbs - Cụm Động Từ
                                        </p>
                                        <p class="text-white ">
                                            <i class="fas fa-paw"></i> Prepostion - Giới từ
                                        </p>
                                        <p class="text-white ">
                                            <i class="fas fa-paw"></i> Conjunctions - Liên từ
                                        </p>
                                        <p class="text-white ">
                                            <i class="fas fa-paw"></i> Articles - Mạo từ
                                        </p>
                                        <p class="text-white ">
                                            <i class="fas fa-paw"></i> Tenses - Thì
                                        </p>
                                        <p class="text-white ">
                                            <i class="fas fa-paw"></i> The Sequence of Tenses - Sự phối hợp thì
                                        </p>

                                </div>
                                <div class="col-6">
                                        <p class="text-white ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i>
                                                Wish and if only
                                            </a>
                                        </p>

                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> Clauses and
                                                Phrases - Mệnh đề và cụm từ
                                            </a>
                                        </p>

                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> As if, as
                                                though, it's hight time, it's time, would rather
                                            </a>
                                        </p>

                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> Noun Clause -
                                                Mệnh đề danh từ
                                            </a>
                                        </p>

                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> Relative
                                                Clause - Mệnh đề quan hệ
                                            </a>
                                        </p>

                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> Sentences -
                                                Câu
                                            </a>
                                        </p>
                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> Conditional
                                                Sentences - Câu điều kiện
                                            </a>
                                        </p>
                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> Indirect Speech
                                                - Lời nói gián tiếp

                                            </a>
                                        </p>
                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> Passive
                                                Sentences - Câu bị động
                                            </a>
                                        </p>
                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i> Expression of
                                                Quantity - Sự diễn tả số lượng
                                            </a>
                                        </p>

                                        <p class="text-white nav-item ">
                                            <a class="nav-link " href="#">
                                                <i class="fas fa-paw"></i>
                                                Work Study - Từ vựng học
                                            </a>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-black mb-4">Từ Vựng</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                        <p class="text-black nav-item ">
                            <a class="nav-link " href="#">
                                <i class="fas fa-paw"></i>
                                General Business - Thương mại tổng quát
                            </a>
                        </p>

                        <p class="text-black nav-item ">
                            <a class="nav-link " href="#">
                                <i class="fas fa-paw"></i>
                                Pronouns - Đại Từ
                            </a>
                        </p>


                        <p class="text-black ">
                            <a class="nav-link " href="#">
                                <i class="fas fa-paw"></i> Office Issues - Hành chính văn
                                phòng
                            </a>
                        </p>


                        <p class="text-black ">
                            <a class="nav-link" href="#"> <i class="fas fa-paw"></i> Personal - Nhân sự</a>
                        </p>

                        <p class="text-black ">
                            <a class="nav-link" href="#"> <i class="fas fa-paw"></i> Purchasing - Mua Hàng</a>
                        </p>
                        <p class="text-black ">
                            <a class="nav-link" href="#">
                                <i class="fas fa-paw"></i> Finance and Budgeting - Tài chính
                                và ngân sách
                            </a>
                        </p>

                        <p class="text-black ">
                            <a class="nav-link" href="#">
                                <i class="fas fa-paw"></i> Management Issues - Vấn đề quản
                                lý
                            </a>
                        </p>

                        <p class="text-black ">
                            <a class="nav-link" href="#">
                                <i class="fas fa-paw"></i> Restaurants and Events - Nhà hàng
                                và sự kiện
                            </a>
                        </p>
                        <p class="text-black ">
                            <a class="nav-link" href="#">
                                <i class="fas fa-paw"></i> Travel - Du lịch
                            </a>
                        </p>
                        <p class="text-black ">
                            <a class="nav-link" href="#">
                                <i class="fas fa-paw"></i> Entertainmenent - Giải trí
                            </a>
                        </p>
                        <p class="text-black ">
                            <a class="nav-link" href="#">
                                <i class="fas fa-paw"></i> Health - Sức khỏe
                            </a>
                        </p>
                        <p class="text-black ">
                            <a class="nav-link" href="#"> <i class="fas fa-paw"></i> Pharases - Cụm từ</a>
                </div>
            </div>
        </div>

    </main>

    @Html.Partial("Footer")


    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/click-scroll.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>